h1{
    color:#ffffff";
    font-size:60px;
    font-weight: normal;
    font-family: "Impact";
    text-align: center;
    background-color: white;
}


h2{
    color:cornflowerblue;
    text-align: center;
    background-color:floralwhite;
}

table{background-color: white}

h3{
    color:darkviolet;
}

address{color: white;}

body{
    background-image: url(../images/luz_members.png);;
    background-attachment: fixed;
}